/* Variables */
:root {
  --text-primary: rgb(250, 250, 250);
  --link-primary: rgb(3, 169, 244);
  --link-hover: rgb(50, 188, 252);
  --link-visited: rgb(50, 87, 252);
}

/* Utilities */
/* Resets */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  box-sizing: border-box;
}

/* Main Styles */
.app {
  width: 100%;
  min-width: 100vw;
  height: 100%;
  min-height: 100vh;
  font-family: 'Nunito', sans-serif, cursive;
  background: url('/images/bg_small.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.container {
  width: 100%;
  max-width: 60rem;
  height: 100%;
  margin: 0 auto;
  display: flex;
  flex-flow: column nowrap;
}

/* Header */
header {
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  padding: 0 0 1rem;
  text-align: center;
}

.logo-holder {
  width: 220px;
  height: 160px;
  margin: 0 auto;
}

.logo-holder .logo {
  height: 100%;
  background: url('/images/logo_small.png');
  background-position: 50% 50%;
  background-size: cover;
}

.logo-text h2 {
  font-size: 1.5rem;
  font-weight: bolder;
  color: var(--text-primary);
  margin-top: -1rem;
}

/* Main Content */
main {
  flex: 1;
  padding: 0.5rem;
}

main .main-content {
  font-family: 'Special Elite', cursive;
  color: var(--text-primary);
  font-size: 1rem;
  line-height: 1.5rem;
  text-align: center;
  text-transform: uppercase;
}

/* Divider */
main .line {
  width: 100%;
  height: 1px;
  margin: 1.2rem 0;
  background-color: var(--text-primary);
}

/* Timer */
.countdown {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
}

.countdown .time-item {
  color: var(--text-primary);
  text-align: center;
  max-width: 75px;
  flex: 0 1 25%;
}

.countdown .time-item .time-left {
  font-size: 2rem;
  font-weight: bold;
}

.countdown .time-item .time-info {
  font-style: italic;
  font-size: 1.1rem;
}

/* Contact */
.contact {
  margin-top: 1rem;
  display: flex;
  flex-flow: row wrap;
}

.contact .contact-item {
  flex: 0 1 50%;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
}

.contact .contact-item:nth-child(3),
.contact .contact-item:nth-child(4) {
  margin-top: 1.2rem;
}

.contact-item svg {
  width: 24px;
  height: 24px;
}

.contact-item span {
  margin-top: 0.5rem;
  font-size: 0.9rem;
  color: var(--text-primary);
}

.contact-item span .emailto {
  color: var(--link-primary);
  text-decoration: none;
  transition: color 0.3s ease;
}

.contact-item span .emailto:hover,
.contact-item span .emailto:active {
  color: var(--link-hover);
}

.contact-item span .emailto:visited {
  color: var(--link-visited);
}

/* Footer */
.copyright {
  color: var(--text-primary);
  text-align: center;
  font-size: 0.9rem;
  padding: 1rem 1rem 0.5rem;
}

@media screen and (min-width: 48rem) {
  .app {
    background: url('/images/bg.jpg');
    background-position: 50% 50%;
  }
  /* Header */
  header {
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
  }

  .logo-holder {
    margin: 0 1rem;
  }

  .logo-text {
    margin-top: 4rem;
  }

  .logo-text h2 {
    font-size: 2rem;
  }

  main .main-content {
    font-size: 1.6rem;
    line-height: 2.5rem;
  }

  .contact {
    flex-wrap: nowrap;
    margin-top: 2.5rem;
  }

  .contact .contact-item {
    flex: 0 0 25%;
  }

  .contact .contact-item:nth-child(3),
  .contact .contact-item:nth-child(4) {
    margin-top: 0;
  }

  main .line {
    margin-bottom: 2rem;
  }
}
