/* Resets */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app {
  width: 100%;
  min-width: 100vw;
  height: 100%;
  min-height: 100vh;
  background-color: #fff;
}

.container {
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
}

header {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

.logo-img {
  margin: 0 auto;
}

.logo {
  display: block;
  max-width: 100%;
  height: auto;
}

.logo-text {
  font-weight: bolder;
  font-size: 2rem;
  margin-top: -20px;
  margin-bottom: 40px;
  color: rgb(3, 57, 108);
}

main {
  color: deepskyblue;
  text-align: center;
}

main h2 {
  font-size: 2.5rem;
}

.social {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  margin-top: 50px;
}

.social .social-icon img {
  width: 24px;
  height: 24px;
  margin: 0 10px;
}

.social .social-icon:hover {
  cursor: pointer;
}

@media screen and (min-width: 768px) {
  header {
    flex-flow: row nowrap;
    margin-top: 50px;
  }

  header .logo-text {
    margin-top: 100px;
    text-align: center;
  }

  main h2 {
    font-size: 3rem;
  }

  .social .social-icon img {
    width: 48px;
    height: 48px;
  }
}
